.input_group {
    @apply flex border rounded-xl;
    position: relative;
}

.input_text{
    @apply block w-full px-2 py-2  bg-white border rounded-md;
    @apply focus:border-green focus:outline-none transition-colors duration-200 transform;
}

.input_text:not([type=email]) ~ span:hover *{
    color: #03AC0E;
    cursor: pointer;
}

.button_custom{
    @apply w-full border py-2 flex justify-center gap-2;
   }